.amazing__story {
  width: 100%;
  height: 206px;
  padding: 20px 0px;
  .swiper-slide {
    width: 122px;
    height: 166px;
    margin-right: 10px;
    padding: 10px 0px;
    & a {
      width: 114px;
      height: 166px;
      display: flex;
      justify-content: center;
      flex-flow: column nowrap;
      align-items: center;
      & img {
        width: 90px;
        height: 90px;
      }
      & span{
        width: 110px;
        height: 35px;
        color: #0c0c0c;
        font-size: 12px;
        font-family: iran;
        padding: 0px 4px;
        text-align: center;
     
      }
    }
  }
}
