.footer {
  width: 100%;
  height: 900px;
  background-color: #ffffff;
  margin: 48px 0px 0px;
  padding: 32px 0px 0px;
  border: 1px solid #f0f0f1;
  padding: 20px;
  .footer__top {
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    & img {
      width: 114px;
      height: 30px;
    }
    .footer__top__left {
      width: 138px;
      height: 40px;
      padding: 8px 16px;
      border: 1px solid #f0f0f1;
      border-radius: 7px;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 5px;
      & a {
        color: #a1a3a8;
        font-family: iran;
        font-size: 12px;
        font-weight: 900px;
        opacity: 1.5;
      }
    }
  }
  .footer__top__text {
    width: 100%;
    height: 26px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-top: 15px;
    & p {
      color: #3f4064;
      font-family: iran;
      font-size: 12px;
      width: fit-content;
      height: 26px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .footer__top__line {
      width: 42px;
      height: 26px;
      font-size: 12px;
      padding: 0px 20px;
      display: flex;
      align-items: center;
      justify-content: center;
      color: #a1a3a8;
    }
  }
  .garanti {
    width: 100%;
    height: 115px;
    display: flex;
    justify-content: space-between;
    justify-content: center;
    margin-top: 20px;
    & a {
      width: 293px;
      height: 103px;
      padding: 12px;
      text-decoration: none;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-flow: column nowrap;
      gap: 5px;
      & p {
        color: #3f4064;
        font-family: iran;
        font-size: 11px;
      }
    }
  }
  .footer__text__bottom {
    width: 100%;
    height: 89px;
    color: #81858b;
    font-size: 13px;
    padding: 10px 0px;
    text-align: center;
    line-height: 89px;
    font-weight: 600;
  }
}
.logo__footer {
  width: 100%;
  height: 160px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-flow: row wrap;
  background-color: #f0f0f1;
  margin-top: 110px;
  .logo__footer__top {
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: space-around;
    flex-flow: row nowrap;
    & a {
      width: 205px;
      height: 80px;
      padding: 0px 20px;
      display: flex;
      justify-content: center;
      align-items: center;
      border: 1px solid #e0e0e2;
      & img {
        width: 90px;
        height: 30px;
        object-fit: contain;
      }
    }
  }
  .logo__footer__bottom {
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: space-around;
    flex-flow: row nowrap;
    & a {
      width: 218px;
      height: 80px;
      padding: 0px 20px;
      display: flex;
      justify-content: center;
      align-items: center;
      border: 1px solid #e0e0e2;
      & img {
        width: 120px;
        height: 40px;
        object-fit: contain;
      }
    }
  }
}
